# Результат сборки
bin/
obj/
obj/Debug/
obj/Release/

# Файлы с настройками
appsettings.Development.json

# Пакеты NuGet
*.nupkg
packages/

# Базы данных
*.db
*.sqlite
*.mdf
*.ldf

# Логи и временные файлы
*.log
*.tmp

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/